.navbar-toggle .icon-bar {
  background-color: #007095  ;
}
a.nav-link {
  line-height: 1.667;
  padding: 1.48133333rem 1rem 1.90457143rem 1rem;
  display: block;
  position: relative;
  color: #000;
  font-family: "Open Sans",Tahoma,Verdana,Segoe,sans-serif;
  font-size: 18px;
}

/* Header
------------------------- */

.main-header {
  margin: 10px 0;
}
.main-header > h1 {
  margin: 0 auto;
  max-width: 900px;
  font-size: 1.8em;
  line-height: 1.2em;
  color: #007095;
}
.main-header-buttons {
  margin: 5px auto;
}
.intro-button, .intro-button:hover, .intro-button:active, .intro-button:focus, .intro-button:active:focus {
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: #FFFFFF;
}
.intro-hedaer {
  background-color: #F8F8F8;
}
.intro-hedaer img {
  padding: 10px 0;
}

.main-header-buttons{
  margin: 1em 0;
  padding: .6em 1.3em;
}
a.intro-button span{
  font-weight: bold;
}

/* Static pages header
---------------------- */

nav.page-header-nav {
  padding: 1em .75em 0;
}
a.page-header-link {
  padding: .5em 2em;
}

/* Feature Cards
------------------------- */

.even-card {
  background-color: #F8F8F8;
  color: #007095;
}
.odd-card {
  color: #007095;
}

/* Features
------------------------- */

.features-divider {
  margin: 80px 0;
}
.features-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
@media (min-width: 768px) {
  .features-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .features-heading {
    margin-top: 120px;
  }
}

/* Footer
------------------------- */

footer {
  margin: 4em 0;
  text-align: center;
}
.footer ul {
  margin: 5px;
  padding: 0;
  list-style: none;
}
.footer ul li {
  display: inline;
  margin: 0 0.5em;
}
.footer ul li a {
  text-decoration: underline;
  cursor: auto;
  color: #999;
}

/* Social signup buttons
------------------------*/

.social-signup-btn {
  margin: 0.5em 0;
}
